@page
@model PasswordChangeModel
@{
    ViewData["Title"] = "Change password";
    Layout = "/Pages/Shared/_Layout.cshtml";

}
<div class="rs-breadcrumbs img10">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                First Time Password Change
                <span class="watermark">WELCOME</span>
            </h1>
            <span class="sub-text">

            </span>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<div class="rs-contact faq-style gray-bg2 md-pt-70 md-pb-70">
    <div class="container">
        <div class="sec-title text-center">
            <p class="margin-0" style="padding-top:20px;">
               Kindly Change your password for the first time. Thank you
            </p>
        </div>
        <div class="row" style="padding-top:20px;">
            
            <div class="col-md-12 md-mb-30">
                <div class="contact-item">

                    <div class="content-text">
                        <partial name="_StatusMessage" for="StatusMessage" />

                        <form id="change-password-form" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Input.NewPassword"></label>
                                <input asp-for="Input.NewPassword" type="password" id="myInput" class="form-control" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="margin-top:15px;">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" type="password" id="myInput1" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <input type="checkbox" onclick="myFunction()" style="margin-top:15px;">Show Password

                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-top:30px;">Update password</button>
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
        </div>
</div>
<!-- Team Section Start -->


            @section Scripts {
                <partial name="_ValidationScriptsPartial" />

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }

        var y = document.getElementById("myInput1");
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }
</script>
            }
