@page
@model SEC44NIPSS.Areas.Participant.Pages.ParlyPage.CreateFolderModel

@{
    ViewData["Title"] = "CreateFolder";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title uppercase">
                    Create Folder
                </h3>

            </div>

            @if (TempData["result"] != null)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> @TempData["result"]
                </div>}

            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ParlyReportCategory.Title" class="control-label"></label>
                                <input asp-for="ParlyReportCategory.Title" class="form-control" />
                                <span asp-validation-for="ParlyReportCategory.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ParlyReportCategory.Description" class="control-label"></label>
                                <input asp-for="ParlyReportCategory.Description" class="form-control" />
                                <span asp-validation-for="ParlyReportCategory.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ParlyReportCategory.Date" class="control-label"></label>
                                <input asp-for="ParlyReportCategory.Date" class="form-control" />
                                <span asp-validation-for="ParlyReportCategory.Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create Folder" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                </div>

               

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
