@page
@model SEC44NIPSS.Areas.ResolvedAdmin.Pages.ParticipantPage.UpdateParticipantModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Add Participant to @TempData["title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Participant.AlumniId" value="@TempData["id"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Participant.ProfileId" class="control-label"></label>
                <select asp-for="Participant.ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Participant.StudyGroupId" class="control-label"></label>
                <select asp-for="Participant.StudyGroupId" class="form-control" asp-items="ViewBag.StudyGroupId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="update" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
