@page
@model SEC44NIPSS.Areas.Participant.Pages.TicketPage.StatusPageModel

@{
    ViewData["Title"] = "StatusPage";
}


<!-- Display the countdown timer in an element -->
<div class="col-md-12">
    <div class="box box-solid">
        <div class="box-header with-border">

            <h3 class="box-title">DIALY PLANNER</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <blockquote>
                <h1><i>COMING SOON...</i></h1>
                <h3 id="demo"></h3>
            </blockquote>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
