@page
@model SEC44NIPSS.Areas.Admin.Pages.BlogNews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="News.Title" class="control-label"></label>
                <input asp-for="News.Title" class="form-control" />
                <span asp-validation-for="News.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Content" class="control-label"></label>
                <textarea id="mytextarea" asp-for="News.Content" class="form-control"></textarea>
                <span asp-validation-for="News.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.ShortDescription" class="control-label"></label>
                <input asp-for="News.ShortDescription" class="form-control" />
                <span asp-validation-for="News.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.SortOrder" class="control-label"></label>
                <input asp-for="News.SortOrder" class="form-control" />
                <span asp-validation-for="News.SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image(650 by 650)</label>
                <div class="">
                    <input class="form-control" type="file" accept="image/*" capture="capture" name="filesPhoto" id="gallery-photo-add" />
                    <div class="gallery"></div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="News.Source" class="control-label"></label>
                <input asp-for="News.Source" class="form-control" />
                <span asp-validation-for="News.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Date" class="control-label"></label>
                <input asp-for="News.Date" class="form-control" />
                <span asp-validation-for="News.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
