@page
@model SEC44NIPSS.Pages.LivechatModel
@{
}

<div class="rs-breadcrumbs img10">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                COMPLIAN/INQUIRY/GUIDE
            </h1>
            <span class="sub-text">

            </span>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Team Section Start -->
<div class="rs-about style2 md-pt-70 md-pb-70" style="padding:30px 0 10px 0;">
    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center" style="margin:10px 0;text-align:center;margin:0 auto !important">

                <h2 class="text-center">
                    CLICK ON THE ICON BELOW TO CHAT US NOW.
                </h2>
                <h3 class="text-center">We are Always Online</h3>
                <img src="~/chat.png" class="text-center" style="text-align:center;margin:0 auto !important"/>
            </div>


        </div>
    </div>

</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/62e3c80b54f06e12d88beb69/1g94sarli';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->