@page
@model SEC44NIPSS.Pages.SuccessModel
@{
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                We strengthen organizations
                <span class="watermark">About</span>
            </h1>
            <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official modeserunt mollit anim id est laborum 20 years experience.</span>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- About Section Start -->
<div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pr-33 md-pr-15 md-mb-50">
                <div class="col-lg-12 col-md-6 md-mb-30">
                    <div class="rs-addon-number">
                        <div class="number-part">
                            <div class="number-image">
                                <img src="~/assets/images/careers/icons/1.png" alt="Process">
                            </div>
                            <div class="number-text">
                                <div class="number-area"> <span class="number-prefix"> 1 </span></div>
                                <div class="number-title"><h3 class="title">Thank You For Contacting Us</h3></div>
                                <div class="number-txt">
                                   You will receive Feedback As soon as Possible
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>