@page
@model SEC44NIPSS.Areas.Admin.Pages.SliderPage.CreateModel

@{
    ViewData["Title"] = "Create";
}


<h4>New Slider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Slider.ImagePath" class="control-label"></label>
                <input type="file" name="Slider" class="form-control" />
                <span asp-validation-for="Slider.ImagePath" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Slider.Sort" class="control-label"></label>
                <input asp-for="Slider.Sort" class="form-control" />
                <span asp-validation-for="Slider.Sort" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Slider.Show" /> Show
                <span asp-validation-for="Slider.Show" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slider.Title" class="control-label"></label>
                <input asp-for="Slider.Title" class="form-control" />
                <span asp-validation-for="Slider.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slider.SliderCategoryId" class="control-label"></label>
                <select asp-for="Slider.SliderCategoryId" class="form-control" asp-items="ViewBag.SliderCategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
