@page
@model SEC44NIPSS.Areas.Root.Pages.Main.Downloadv2Model
@{
}

<div class="card-body" style="box-shadow: 2px 2px 2px 2px #e0e0e0;">

    @*<h3> @Model.FileNameD is Downloaded. check Downloads</h3>*@
    <a href="https://drive.google.com/file/d/1bySCcGCN_KKujCiRzwAnKfCJQ-Rlzngh/view?usp=sharing" download="peter file"> Download</a>
</div>


