@page
@model SEC44NIPSS.Areas.Root.Pages.SecPaperPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SecPaper</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SecPaper.Id" />
            <input type="hidden" asp-for="SecPaper.AlumniId" />
            <input type="hidden" asp-for="SecPaper.Powerpoint" />
            <input type="hidden" asp-for="SecPaper.Script" />
            <input type="hidden" asp-for="SecPaper.Report" />
            <div class="form-group">
                <label asp-for="SecPaper.Title" class="control-label"></label>
                <input asp-for="SecPaper.Title" class="form-control" />
                <span asp-validation-for="SecPaper.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecPaper.Description" class="control-label"></label>
                <input asp-for="SecPaper.Description" class="form-control" />
                <span asp-validation-for="SecPaper.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecPaper.DocumentCategoryId" class="control-label"></label>
                <select asp-for="SecPaper.DocumentCategoryId" class="form-control" asp-items="ViewBag.DocumentCategoryId"></select>
                <span asp-validation-for="SecPaper.DocumentCategoryId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label class="control-label">Powerpoint FIle</label>

                @if (!String.IsNullOrEmpty(Model.SecPaper.Powerpoint))
                {
                    <a href="@Model.SecPaper.Powerpoint" download class="btn btn-success">Download</a>
                }
                else
                {
                    <a href="#" download class="btn btn-danger">NILL</a>

                }
            </div>

            <div class="form-group">
                <label asp-for="SecPaper.Powerpoint" class="control-label"></label>
                <input class="form-control" type="file" name="Powerpoint" />
                <span asp-validation-for="SecPaper.Powerpoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Report FIle</label>

                @if (!String.IsNullOrEmpty(Model.SecPaper.Report))
                {
                    <a href="@Model.SecPaper.Report" download class="btn btn-success">Download</a>
                }
                else
                {
                    <a href="#" download class="btn btn-danger">NILL</a>

                }
            </div>
            <div class="form-group">
                <label asp-for="SecPaper.Report" class="control-label"></label>
                <input class="form-control" type="file" name="Report" />

                <span asp-validation-for="SecPaper.Report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Script FIle</label>

                @if (!String.IsNullOrEmpty(Model.SecPaper.Script))
                {
                    <a href="@Model.SecPaper.Script" download class="btn btn-success">Download</a>
                }
                else
                {
                    <a href="#" download class="btn btn-danger">NILL</a>

                }
            </div>
            <div class="form-group">
                <label asp-for="SecPaper.Script" class="control-label"></label>
                <input class="form-control" type="file" name="Script" />
                <span asp-validation-for="SecPaper.Script" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
