@page
@model SEC44NIPSS.Areas.ResolvedAdmin.Pages.ParlyCategory.SubCategory.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ParlyReportSubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ParlyReportSubCategory.ParlyReportCategoryId" value="@Model.ParlyReportCategory.Id" />


            <div class="form-group">
                <label asp-for="ParlyReportSubCategory.Title" class="control-label"></label>
                <input asp-for="ParlyReportSubCategory.Title" class="form-control" />
                <span asp-validation-for="ParlyReportSubCategory.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParlyReportSubCategory.Description" class="control-label"></label>
                <input asp-for="ParlyReportSubCategory.Description" class="form-control" />
                <span asp-validation-for="ParlyReportSubCategory.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParlyReportSubCategory.SortOrder" class="control-label"></label>
                <input asp-for="ParlyReportSubCategory.SortOrder" class="form-control" />
                <span asp-validation-for="ParlyReportSubCategory.SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
