@page
@model SEC44NIPSS.Pages.Web.ParlyModel

@{
    ViewData["Title"] = "Parly";
}


<div class="rs-breadcrumbs img10">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                PRESIDENTIAL PARLEY REPORT RESOURCE MATERIALS
            </h1>
            <span class="sub-text">

            </span>
        </div>
    </div>
</div>
<div class="rs-about style2 md-pt-70 md-pb-70" style="padding:30px 0 10px 0;">
    <div class="container">
        <div class="row">
            
            @foreach (var item in Model.ParlyReportCategory)
            {
            <div class="col-md-6" style="margin:10px 0">
                <a asp-page="/Web/ParlyDocList" asp-route-id="@item.Id">
                    <div class="sec-title" style="border: 2px solid #ffffff; box-shadow: 1px 1.6px 3.6px rgb(30 64 44), 2px 0px 2.9px rgb(65 112 86); padding: 16px; background-color: #f3f0f0; height: 120px;">
                        <h3 style="text-align: center; color: #000000;text-shadow: 1px 1px 1px #ff6a00;text-transform:uppercase;">@Html.DisplayFor(modelItem => item.Title) (@item.ParlyReportDocuments.Count() Contributions)</h3>
                    </div>
                </a>
                <a href="whatsapp://send?text=https://sec44nipss.com/Web/ParlyDocList?id=@item.Id" data-action="share/whatsapp/share"
                   target="_blank" class="btn btn-success btn-xs" style="color:white;font-weight:700;width:100%;margin-top:5px;"> Share to WhatsApp </a>
            </div>
            }
        </div>
    </div>

</div>



