@page
@model SEC44NIPSS.Areas.Admin.Pages.EventManagement.IsLectureModel

@{
    ViewData["Title"] = "IsLecture";
}

<h2>IsLecture</h2>

<h4>Event</h4>


            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.IsLecture" /> @Html.DisplayNameFor(model => model.Event.IsLecture)
                    </label>
                </div>
            </div>
          

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
