@page
@model SEC44NIPSS.Areas.Admin.Pages.GroupMemberPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StudyGroupMemeber</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudyGroupMemeber.Id" />
            <div class="form-group">
                <label asp-for="StudyGroupMemeber.ProfileId" class="control-label"></label>
                <select asp-for="StudyGroupMemeber.ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
                <span asp-validation-for="StudyGroupMemeber.ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyGroupMemeber.SortNumber" class="control-label"></label>
                <input asp-for="StudyGroupMemeber.SortNumber" class="form-control" />
                <span asp-validation-for="StudyGroupMemeber.SortNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyGroupMemeber.StudyGroupId" class="control-label"></label>
                <select asp-for="StudyGroupMemeber.StudyGroupId" class="form-control" asp-items="ViewBag.StudyGroupId"></select>
                <span asp-validation-for="StudyGroupMemeber.StudyGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
