@page
@model SEC44NIPSS.Areas.Root.Pages.ParlyCategory.SubTwo.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ParlySubTwoCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParlySubTwoCategory.Id" />
            <input type="hidden" asp-for="ParlySubTwoCategory.ParlyReportSubCategoryId" />
            <div class="form-group">
                <label asp-for="ParlySubTwoCategory.Title" class="control-label"></label>
                <input asp-for="ParlySubTwoCategory.Title" class="form-control" />
                <span asp-validation-for="ParlySubTwoCategory.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParlySubTwoCategory.Description" class="control-label"></label>
                <input asp-for="ParlySubTwoCategory.Description" class="form-control" />
                <span asp-validation-for="ParlySubTwoCategory.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParlySubTwoCategory.Date" class="control-label"></label>
                <input asp-for="ParlySubTwoCategory.Date" class="form-control" />
                <span asp-validation-for="ParlySubTwoCategory.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParlySubTwoCategory.SortOrder" class="control-label"></label>
                <input asp-for="ParlySubTwoCategory.SortOrder" class="form-control" />
                <span asp-validation-for="ParlySubTwoCategory.SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParlySubTwoCategory.BgColor" class="control-label"></label>
                <select asp-for="ParlySubTwoCategory.BgColor" class="form-control">
                    <option value="bg-red"> bg-red</option>
                    <option value="bg-yellow">bg-yellow</option>
                    <option value="bg-aqua">bg-aqua</option>
                    <option value="bg-blue">bg-blue</option>
                    <option value="bg-light-blue">bg-light-blue</option>
                    <option value="bg-green">bg-green</option>
                    <option value="bg-navy">bg-navy</option>
                    <option value="bg-teal">bg-teal</option>
                    <option value="bg-olive">bg-olive</option>
                    <option value="bg-lime">bg-lime</option>
                    <option value="bg-orange">bg-orange</option>
                    <option value="bg-fuchsia">bg-fuchsia</option>
                    <option value="bg-purple">bg-purple</option>
                    <option value="bg-maroon">bg-maroon</option>
                    <option value="bg-black">bg-black</option>
                    <option value="bg-red-active">bg-red-active</option>
                    <option value="bg-yellow-active">bg-yellow-active</option>
                    <option value="bg-aqua-active">bg-aqua-active</option>
                    <option value="bg-blue-active">bg-blue-active</option>
                </select>
                <span asp-validation-for="ParlySubTwoCategory.BgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
