@page
@model SEC44NIPSS.Areas.Participant.Pages.Dashboard.ResearchToolModel
@{
}

<!-- Display the countdown timer in an element -->
<div class="col-md-12">
    <div class="box box-solid">
        <div class="box-header with-border">

            <h3 class="box-title">RESEARCH TOOL</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="rs-about style2 md-pt-70 md-pb-70" style="padding:30px 0 10px 0;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="margin:10px 0">
                            <a asp-page="/Forms/Index" asp-area="Participant">
                                <div class="sec-title" style="border: 2px solid #ffffff; box-shadow: 1px 1.6px 3.6px rgb(30 64 44), 2px 0px 2.9px rgb(65 112 86); padding: 16px; background-color: #f3f0f0; height: 120px;">
                                    <h3 style="text-align: center; color: #000000;text-shadow: 1px 1px 1px #ff6a00;text-transform:uppercase;">Questionner Form</h3>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>


<script>
    // Set the date we're counting down to
    var countDownDate = new Date("July 30, 2022 15:37:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = days + "days " + hours + "hours "
            + minutes + "min " + seconds + "sec ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>