@page
@model SEC44NIPSS.Areas.Participant.Pages.Forms.NewQuestionPageModel

@{
    ViewData["Title"] = "NewQuestionPage";
}

<h2>NewQuestionPage</h2>

<h4>QuestionnerPage</h4>
<hr />


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
