@page
@model SEC44NIPSS.Areas.Admin.Pages.ProfileAccount.ResetPasswordModel
@{
}

<div class="row" style="padding-top:20px;">

    <div class="col-md-12 md-mb-30">
        <div class="contact-item">

            <div class="content-text">
                
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="UIDD"/>

                    <div class="form-group">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" type="password" id="myInput" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="margin-top:10px;">
                        <input type="checkbox" onclick="myFunction()" style="margin-top:15px;">Show Password

                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top:30px;">Update password</button>
                </form>
            </div>
        </div>
    </div>

</div>