@page
@model SEC44NIPSS.Areas.ResolvedAdmin.Pages.SecProjectPage.UpdateProjectModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Update Legacy Project for @Model.SecProject.Alumni.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SecProject.Id" />
            <input type="hidden" asp-for="SecProject.AlumniId" />
            <div class="form-group">
                <label asp-for="SecProject.Title" class="control-label"></label>
                <input asp-for="SecProject.Title" class="form-control" />
                <span asp-validation-for="SecProject.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="update" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
